body {
  background-color: gray;
}

.App {

}

.topbar {
  background-color: white;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
}

.options {
  margin: 2rem 5rem;
  display: flex;
  justify-content: space-between;

}

.countries-grid {
  margin: 1rem 5rem;
  display: grid;
  grid-template-columns: repeat(4, .25fr);
  grid-gap: 5rem;
}
